* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Product Gallery */
.product-gallery {
    display: grid;

    /* 4 columns on desktop */
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

/* Product Card */
.card {
    background-color: white;
    padding: 25px;
    text-align: center;

    /* Equal height */
    height: 180px;

    border-radius: 10px;

    transition: 0.3s;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-bottom: 20px;
}

.card p {
    font-size: 20px;
    font-weight: bold;
}


/* Tablet */
@media (max-width: 900px) {
    .product-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Mobile */
@media (max-width: 600px) {
    .product-gallery {
        grid-template-columns: 1fr;
    }
}